<p class="overlay-header-text">@Header</p>
<div class="overlay-text">
    @Text
</div>
<div class="link-container">
    <a href=@LinkRoute class="overlay-link">@LinkText</a>
</div>

@code {
    [Parameter]
    public string Header { get; set; } = "";

    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public string LinkRoute { get; set; } = "";

    [Parameter]
    public string LinkText { get; set; } = "Find Out More";
}
