<div class="img-overlay-container">
    <img src="@ImageSrc" alt="" class="img-overlay" style="height:100%;" />
    <div class="txt-overlay-pos">
        <h1>@Header</h1>
        <div class="fs-4">
            @if (ContainsBulletPoints(@Text))
            {
                @foreach (var point in GetBulletPoints(Text))
                {
                    <p class="text-start">@point</p>
                }
            }
            else
            {
                <p>@Text</p>
            }
        </div>
    </div>

</div>

@code {
    [Parameter]
    public string ImageSrc { get; set; } = "";

    [Parameter]
    public string Header { get; set; } = "";

    [Parameter]
    public string Text { get; set; } = "";

    private bool ContainsBulletPoints(string text)
    {
        return text.Contains('|');
    }

    private IEnumerable<string> GetBulletPoints(string text)
    {
        return text.Split('|');
    }
}