<div class="page-content-container">
    <div class="content-text-box">
        @if (_strings != null && _strings.Length > 0)
        {
            @foreach (var text in _strings)
            {
                <p>@text</p>
            }
        }
    </div>

</div>


@code {
    [Parameter]
    public string MainText { get; set; } = "";

    private string[] _strings;

    protected override async Task OnParametersSetAsync()
    {
        _strings = await Utils.InitializeStringsAsync(MainText);
    }
}
