@if (_strings != null && _strings.Length > 0)
{
    <div class="card-container">
        @for (int i = 0; i < _strings.Length; i++)
        {
            <a class="custom-card" href="">
                <img class="custom-card-image" src="@GetImageString(i)" alt="">
                <div class="custom-card-text">
                    <p class="">@_strings[i]</p>
                </div>
            </a>

        }
    </div>
}
else
{
    <p style="color: white">Loading...</p> 
}

@code {
    [Parameter]
    public string Header { get; set; } = "";

    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public string LinkText { get; set; } = "Find Out More";

    private string[] _strings;

    protected override async Task OnParametersSetAsync()
    {
        _strings = await InitializeStringsAsync(Text);
    }

    private async Task<string[]> InitializeStringsAsync(string text)
    {
        return await Task.Run(() => text.Split('|'));
    }


    protected string GetImageString(int i)
    {
        var baseString = "/images/icons/";

        switch (i)
        {
            case 0:
                return baseString + "About.svg";
            case 1:
                return baseString + "Solutions.svg";
            case 2:
            default:
                return baseString + "Contact.svg";
        }
    }
}
